/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}
body{
  background-image: url('https://media.giphy.com/media/d886PAWdPnzLqQ3Nig/source.gif');
  background-repeat: no-repeat;
  /* background-position: top; */
  background-position: right top;
  background-size: cover;
  overflow-x: visible;
  background-attachment: scroll;
}